/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #848689;
}


.active-link {
    color: navy;
    
}
nav {
    background: transparent;
    color: #ababab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

  }
 nav .mainMenu .active-nav{
    color: #fff;
 }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
   font-weight: 600;
    color: #ababab;
    font-size: 18px;
    transition: 0.2s ease-in-out;
  }
  nav .mainMenu li a:hover {
    color: #fff;
    font-weight: bold;
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons2 i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-github:hover {
    color: rgb(255, 123, 0);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
  }
  @media (max-width: 800px) {
    #menu-products .main{
        display: none;
    }
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0);
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: -10px;
    }
    nav .openMenu {
      display: block;
      width: 20%;
      margin-left: 50px;
      margin-top: 25px;
      margin-right: 0;
    }
   
    nav .mainMenu li a:hover {
      background: none;
      color: #fff;
      
    }
    .icons2{
        display: flex;
        padding: 35px;
    }
    .icons2 i {
      font-size: 25px;
      padding: 10px 10px 10px 30px;   
       }
      
  }
  
.container{
    position: relative;
    max-width: 900px;
    width: 75%;
    border-radius: 6px;
    padding: 30px;
    margin: 20px 30px 100px 15px;
    background-color: navy;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}


.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: white;
    justify-content: space-between;
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 51px;
    border-radius: 8px;
    background-color: gold;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: navy;
    overflow: hidden;
}
.container form .form{
    position: absolute;
    background-color: navy;
    transition: 0.3s ease;
}
.container form .form.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
}
form.secActive .form.second{
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}
form.secActive .form.first{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.container form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: white;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-field input :focus,
.input-field select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-field select,
.input-field input[type="date"]{
    color: #707070;
}
.input-field input[type="date"]:valid{
    color: #333;
}
.container form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: black;
    border-radius: 5px;
    margin: 25px 0;
    background-color: gold;
    transition: all 0.3s linear;
    cursor: pointer;
}
.container form .btnText{
    font-size: 14px;
    font-weight: bold;
}
form button:hover{
    background-color: black;
    color: white;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}

@media (max-width: 550px) {
    .container form{
        overflow-y: scroll;
    }
    .container form::-webkit-scrollbar{
       display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}
@media only screen and (max-width: 750px){
  *{
      width: 100%;
      overflow-x: hidden;

  }
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    background: #09035a;
}


.footer-academics{
    
    margin: 0 150px ;
    flex-basis: 33%;  
}

.footer-academics h2{
    color: honeydew;
}

.footer-academics .feet{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    justify-content: end;
    width: 100%;
    padding: 0px;
}
.footer-usefullinks .feet{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.footer-academics a{
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ababab;
    padding: 5px;
    text-decoration: none;
    font-size: 13px;

    
}

.footer-academics a:hover{
    color: #fff;
    transition: .3s ease-in-out;
    cursor: pointer;
}






.footer-academics h2{
    letter-spacing: 1px;
    text-align: center;
}

.foot{
    background: navy;
    padding: 10px;
    text-align: center;
}



.icons i{
    color: #ababab;
    font-size: 30px;
    padding: 5px;
}

.foot p{
    color: #ababab;
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px;
}
.open-menu , .close-menu{
    position: absolute;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu{
    top: 6%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu{
    right: 20px;
}

@media only screen and (max-width: 750px){
    *{
        width: 100%;
        overflow-x: hidden;
        overflow-y: auto;

    }



  .hero{
    display: flex;
    justify-content: space-between;
    width: 170%;
    padding: 5% 10% 0 0;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }
  .hero .column-1 img{
    border-radius: 10px;
    width: 50%;
    height: 50%;
    margin-left: 30px;
    
}

.hero .column-2{
    width: 60%;
    margin: 0 300px 0 0;
    padding: 0;
    overflow: hidden;
    
    
}

.hero .column-2 p{
    width: 92%;
}

.about{
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.about-col-1{
    margin-left: 0;
}

.about-col-1 img{
    width: 60%;
    height: 50%;
    margin-left: 70px;
}
.about-col-2{
    width: 80%;
    margin-left: 40px;
}

.work{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


.footer{
    flex-direction: column;
}
.icons{
    display: flex;
    width: 40%;
    margin-left: 110px;
}
.tab-links{
    margin-right: 0;
    
    text-align: left;
    overflow: hidden;
}



.about-col-2 p{
    overflow: hidden;
}

.work img{
    width: 105%;
}

.hero .column-2 h1{
    margin-left: 25px;
}


.services-list p{
    overflow: hidden;
}

.services-list i{
    overflow: hidden;
}
}
